
/* the terminal */
.terminal {
  font-family: "DejaVu Sans Mono", "Menlo", "Monaco", "Liberation Mono", Consolas, "Courier New", monospace;
  font-size: 100%;
  color: #f0f0f0;
  background: #000;
  white-space: pre;
}
.terminal .reverse-video {
  color: #000;
  background: #f0f0f0;
}
.terminal .bold {
  font-weight: bold;
}
.terminal .underline {
  text-decoration: underline;
}
.terminal .cursor {
  box-shadow: inset 0 0 2px 1px #ccccca
}
